html, body {
  height: 100%;
}

body {
  width: 100%;
  background-color: white;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: $font-color;
  font-weight: 550;
}

label {
  display: block;
  margin: 7px 3px;
  font-size: 15px;
  font-weight: 550;
}

input {
  width: 450px;
  height: 45px;
  border: 1px solid $light-gray;
  border-radius: .2rem;
  margin-bottom: 5px;
  &:active {
    outline: none;
    border: 0;
    border-color: $main-color;
    box-shadow: 0px 0px 5px #1997dc;
  }
}

input[type="text"] {
  padding-left: 7px;
}

input[type="button"] {
  width: 80px;
  height: 45px;
}

input::placeholder {
  padding-left: 5px;
  color: $light-gray;
}

input:disabled {
  border-color: $light-gray;
  color: $light-gray;
}
textarea {
  width: 450px;
  height: 150px;
  border: 1px solid $light-gray;
  border-radius: .2rem;
  outline: none;
}

.btn {
  width: 50px;
  height: 37px;
  padding: 5px;
  margin: 5px 5px;
  border: 0;
  outline: 0;
  background: 0;
  font-size: 1.0rem;
}

.error-status {
  display: block;
  color: $dark-pink;
  font-size: $font-size-small;
  font-weight: 500;
}

.success-status {
  color: green;
  display: block;
  font-size: $font-size-small;
  font-weight: 500;
}

.warn {
  display: block;
  color: #0048ff;
  font-size: $font-size-small;
  font-weight: 500;
}

.valid {
  border-color: green;
}

.invalid {
  border-color: $dark-pink;
}