body {
  width: 1700px;
  height: 100%;
  background: #fafafa;
}

label {
  display: block;
  margin: 7px 3px;
}

input {
  width: 450px;
  height: 32px;
  border: 1px solid $light-gray;
  border-radius: .2rem;
  box-shadow: 2px 2px -4px #00000018;
  margin-bottom: 5px;
  &:focus {
    outline: 0;
    border-color: $main-color;
  }
}

textarea {
  width: 450px;
  height: 150px;
  border: 1px solid $light-gray;
  border-radius: .2rem;
  outline: none;
}

.btn {
  width: calc(100% -font-size);
  height: 35px;
  padding: 5px;
  margin: 5px 5px;
  border: 0;
  outline: 0;
  background: 0;
  font-size: 1.0rem;
}