@mixin change-button($bg-color) {
  border: 0;
  color: $white;
  padding: 5px;
  border-radius: 3px;
  background-color: $bg-color;
}

@mixin outline-button($border-color) {
  @if $border-color == $light-gray {
    color: map-get($gray-colors, color4);
  }
  @else {
    color: $border-color;
  }
  margin-left: 2px;
  background: 0;
  border-radius: 3px;
  border: 1px solid $border-color;
}

.btn--white {
  @include outline-button($light-gray);
}

.btn--outline--blue {
  @include outline-button($main-color);
}

.btn--black {
  @include change-button($btn-color);
}

.btn--black.btn--large {
  @include change-button($btn-color);
  margin: 10px 0;
  width: 456px;
  height: 45px;
}


.btn--red {
  @include change-button($dark-pink);
}

.btn--blue {
  @include change-button(map-get($blue-colors, color3));
}

.btn--navy {
  @include change-button(map-get($blue-colors, $nav-color));
}

// circle outline button
.btn--outline--circle {
  @include outline-button($light-gray);
  border-radius: 50%;
  width: 28px;
  height: 30px;
}