// color variables
$main-color: #3F51B5;
$sub-color: #EBE9F7;
$box-color: #EBEDF3;
$back-color: #F8F9FA;
$shadow-color: #00000015;

$nav-color: #0067a3;
$font-color: #333;
$btn-color: #232323;
$btn-hover: #f6f4f4;

$white: #fff;
$light-yellow: #fedb71;
$dark-pink: #e73251;
$light-gray: #ccc;

$blue-colors: (
  color1: #90CAF8,
  color3: #3366ff,
  color4: #0033ff,
  color5: #0D47A1,
  color6: #5C6BC0,
  color7: #303F9F,
);

$gray-colors: (
  color1: #e0e0e0,
  color2: #bdbdbd,
  color3: #9e9e9e,
  color4: #757575,
  color5: #424242,
);

// basic variables 
$bg-color: background-color;
$border-color: border-color;
$display: display;
$flex-direction: flex-direction;
$justify-content: justify-content;

// font variables
$font-size: 2.0em;
$font-size-small: 0.9rem;  

$button-size: (
  small: small,
  medium: medium,
  large: large,
);